<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Admin - Stasiun</title>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <a href="/admin" class="navbar-brand">Admin ExpressKu</a>
            <a href="/admin/logout" class="btn btn-danger">Logout</a>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <div class="d-flex flex-column p-3">
              <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                  <a href="/admin/stasiun" class="nav-link active">Stasiun</a>
                </li>
                <li class="nav-item">
                  <a href="/admin/kereta" class="nav-link">Kereta</a>
                </li>
                <li class="nav-item">
                  <a href="/admin/masinis" class="nav-link">Masinis</a>
                </li>
                <li class="nav-item">
                  <a href="/admin/jadwal" class="nav-link">Jadwal</a>
                </li>
                <li class="nav-item">
                  <a href="/admin/bukti" class="nav-link">Bukti</a>
                </li>
              </ul>
            </div>
          </div>
  
          <div class="col-md-10 my-5">
            <div class="d-flex justify-content-between mb-4">
            <h3>Stasiun</h3>
            <a href="/admin/stasiun/create" class="btn btn-primary">Tambah Stasiun</a>
        </div>
        <table class="table my-4">
            <thead>
                <tr>
                    <td>ID Stasiun</td>
                    <td>Nama Stasiun</td>
                    <td>Kota Stasiun</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                {{ range $index, $stasiun := .stasiuns }}
                <tr>
                    <td>{{ $stasiun.IdStasiun }}</td>
                    <td>{{ $stasiun.NamaStasiun }}</td>
                    <td>{{ $stasiun.KotaStasiun }}</td>
                    <td>
                        <a href="/admin/stasiun/edit?id_stasiun={{ $stasiun.IdStasiun }}" class="btn btn-warning btn-sm">Edit</a>
                        <a href="/admin/stasiun/delete?id_stasiun={{ $stasiun.IdStasiun }}" class="btn btn-danger btn-sm">Delete</a>
                    </td> 
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
    </div>
    </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>